/* ===== CSS STYLES ===== */

/* ----- Design Resets ----- */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 90%;
}


/* ----- Font Styles ----- */

* {
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

h1 {
  font-weight: 600;
}

li,
p {
  font-size: 1.2em;
}


/* ===== Layout Styles ===== */

/* ----- Body ----- */

body {
  background: #57bbb4;
}


/* ----- Header ----- */

.main-header {
  width: 90%;
  margin: 0 auto;
}

.main-header {
  text-align: center;
  padding: 25px 0;
}

.name {
  padding-bottom: 20px;
  color: white;
  font-size: 2.5em;
  border-bottom: solid 1px white;
}

.main-nav {
  width: 90%;
  margin: 0 auto;
}

.main-nav li {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.main-nav a {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}


/* ----- Banner ----- */

.banner {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.banner p {
  color: #efefef;
}


/* ----- Content ----- */

.content {
  background: white;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.portfolio {
  padding-top: 25px;
  padding-bottom: 35px;
}

.interests {
  padding-bottom: 35px;
}

.interests h2 {
  padding-top: 55px;
  padding-bottom: 25px;
}

.col {
  padding-top: 25px;
  width: 90%;
  margin: 0 auto;
}

.col h3 {
  font-weight: 500;
  font-size: 1.5em;
}

.col p {
  font-weight: 500;
  font-size: 1.1em;
}


/* ----- Interests ----- */

.wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
  margin: 0 auto;
}


/* ----- Contact ----- */

.contact {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact h2,
.contact p {
  color: #efefef;
}

.contact-info {
  font-weight: bold;
  color: white;
  border-bottom: solid 1px white;
}


/* ----- Footer ----- */

.main-footer {
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid 1px #7f7f7f;
}

.main-footer h1,
.main-footer li {
  font-size: 1.2em;
}

.footer-name {
  float: left;
  padding: 0;
  margin: 0;
}

.back-to-top {
  float: right;
}

.back-to-top a {
  text-decoration: none;
  color: black;
}

.footer-nav {
  display: none;
}


/* ===== Media Queries ===== */

/* ----- Tablet ----- */

@media (min-width: 768px) {
  
  .main-nav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    box-shadow: none;
  }
  
  .main-nav li:hover {
    border-bottom: 1px solid white;
  }
  
  .main-nav a {
    color: white;
  }
  
  .banner {
    width: 90%;
    padding-bottom: 50px;
  }
  
  .banner img {
    float: right;
    width: 40%;
  }
  
  .banner p {
    float: left;
    width: 60%;
    padding: 5px 15px;
    box-sizing: border-box;
  }
  
  
  .content {
    width: 100%;
    margin: 0 auto;
  }
  
  .col {
    width: 50%;
    float: left;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  
  .primary {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.secondary {
  width: 50%;
  float: right;
  box-sizing: border-box;
}
  
  
  .back-to-top {
    display: none;
  }
  
  .footer-name {
    color: white;
  }
  
  .footer-nav {
    display: block;
  }
  
  .footer-nav {
    float: right;
  }
  
  .footer-nav a {
    color: white;
  }
  
  .footer-nav li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
}


/* ----- Desktop ----- */

@media (min-width: 1024px) {
  
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .main-header {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    position: fixed;
    top: 0;
  }
  
  .name {
    color: black;
  }
  
  .main-nav {
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
  }
  
  .main-nav li:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  
  .main-nav a {
    margin: 0;
    padding: 0;
    color: black;
  }
  
  .name {
    float: left;
    margin: 0;
    padding: 0;
  }
  
  .banner {
    padding-top: 50px;
    margin-top: 136px;
  }
  
  .col {
    width: 33.3%;
  }
  
}


/* ===== CLEARFIX ===== */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}